In [1]:
# required libraries

import nltk
import numpy as np
import pandas as pd

from pandas import Series,DataFrame

In [2]:
#AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
#AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA

In [3]:
# Step 1: Look up the term the dictionary and assign a value of 1if it is preasent, and 0 if it is not
# Step 2: Count the number of 1s in the matrix and calculate the frequency total.

# access dictionary file in .csv format
Dictionary = pd.read_csv('Dictionary.csv')

In [4]:
# text paragraph
Textblock = """
Oh! Halangdon nga Ginup, ikaw ang labing puti sa mga Virgines, sanglit 
kay ikaw man ang nahauna nga nagbuhat sing isa ka saad nga wala pa 
madungi, sa paglahad sa Ginou sang imo angelesanon nga pagkualay: ikaw 
ang labing santos sa nga tanan nga pinamuhat, kay ginpanamkon ka nga 
wala madagtai sang sala nga panublion, kag ikaw man ang labing 
gindadayaw sa tanan nga mag babae, kag nangintakus ka nga makadangat 
sang halangdon nga kamahalan sa pagka-Iloy sang Dios: ako nga kailo 
nga makasala, nagadayaw ako sa imo kutub diri sining duta nga luhaan 
kag nagapananghi maayo ako sa imo tungod sang ulasahon ng mga grasya 
kag mga pasahi nga iginhiyas sa imo sang aton Dios kag Ginuo. Oh 
sin-o ayhan ang makadayaw sa imo siling sang imo pagkatakus!"""

# Words list for paragraph and dictionary comparisons
WordList = 'ang ikaw imo kag mga nga sa sang'

# create word tokens of text paragraph
TBlock_Tokens = nltk.word_tokenize(Textblock)

# create word tokens of words of the comparison table
WordList_Tokens = nltk.word_tokenize(WordList)

In [5]:
# defining dataframe main primary (word list) and secondary columns (Paragraph to word frequency)
DfColumn1 = 'WORD'
DfColumn2 = 'FREQUENCY' 

# Funtions
###################################################################################################################

# function to create dataframe from word tokens and add the Total 
def create_df(word_token):
    
    df = DataFrame(word_token, columns = [DfColumn1]) 
    df = df.append({DfColumn1:'Total'},ignore_index = True)
    return df
###################################################################################################################

# function to add columns from .csv dictionary column list
def add_columns(Tokenized_df,Dict_columnlist):
    
    for col_count in (Dict_columnlist):
        Tokenized_df[col_count] = 0
    return Tokenized_df
###################################################################################################################

# function to add a single column to dataframe
def add_column(Tokenized_df,column):
    Tokenized_df[column] = 0
    return Tokenized_df
###################################################################################################################

# function for dataframe population for comparing the availablity of word token in dictionary
def df_populate(dataframe,dictionary):
    
    # defining primary column for loop
    dfmain_col  = dataframe.columns[0]
    
    # loop for selecting active row to populate
    for cell in range(len(dataframe[dfmain_col])):  
    
        # loop for selecting column to populate
        for col in (dictionary):   
        
            # loop for current row and corresponding column population
            for active_cell in range(len(dictionary[col])): 
            
                # comparison statements for word and dictionary column contents
                if dataframe[dfmain_col][cell] == dictionary[col][active_cell]:
                    dataframe[col][cell]        = 1                  
                else:
                    pass
    return dataframe      
###################################################################################################################

# function for dataframe population by comparing availablity of word token in Textblock/paragraph
def df_popcol(dataframe, textblock):
    
    # loop for selecting active row to populate
    for cell in range(len(WordList_Tokens)):    
            
        
        counter = 0
        word = dataframe[dataframe.columns[0]][cell]
        
        # loop for textblock iteration
        for count in range (len(textblock)):
            
            # comparison statements for word and textblock contents
            if word in textblock[count]: 
                counter += 1    
            else:
                pass
            
        dataframe[dataframe.columns[1]][cell] = counter  
                
    return dataframe  
###################################################################################################################

# Function for column totals
def Totals(dataframe):
    
    # defining primary column for data collection
    dfmain_col  = Word_df.columns[0]
    
    # total rows in dataframe
    Total = len(dataframe[dfmain_col])

    #subtract 1 to account for the 0 index
    Total -= 1
    
    # Loop to select column to be totaled and record total
    for count in (dataframe.columns):  
        
        if count == dfmain_col:
            pass
        else: 
            dataframe[count][Total] = np.sum(dataframe[count])
    return dataframe

In [6]:
Word_df = create_df(WordList_Tokens)
Word_df = add_column(Word_df, DfColumn2)
Word_df = add_columns(Word_df, Dictionary.columns)
Word_df = df_populate(Word_df, Dictionary)
Word_df = df_popcol(Word_df, TBlock_Tokens)
Word_df = Totals(Word_df)

<ipython-input-5-2dbe97348699>:47: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataframe[col][cell]        = 1
<ipython-input-5-2dbe97348699>:72: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataframe[dataframe.columns[1]][cell] = counter
<ipython-input-5-2dbe97348699>:95: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataframe[count][Total] = np.sum(dataframe[count])

In [7]:
print("Word List:",WordList,"\n\nParagraph:",Textblock)
Word_df

Word List: ang ikaw imo kag mga nga sa sang

Paragraph:
Oh! Halangdon nga Ginup, ikaw ang labing puti sa mga Virgines, sanglit
kay ikaw man ang nahauna nga nagbuhat sing isa ka saad nga wala pa
madungi, sa paglahad sa Ginou sang imo angelesanon nga pagkualay: ikaw
ang labing santos sa nga tanan nga pinamuhat, kay ginpanamkon ka nga
wala madagtai sang sala nga panublion, kag ikaw man ang labing
gindadayaw sa tanan nga mag babae, kag nangintakus ka nga makadangat
sang halangdon nga kamahalan sa pagka-Iloy sang Dios: ako nga kailo
nga makasala, nagadayaw ako sa imo kutub diri sining duta nga luhaan
kag nagapananghi maayo ako sa imo tungod sang ulasahon ng mga grasya
kag mga pasahi nga iginhiyas sa imo sang aton Dios kag Ginuo. Oh
sin-o ayhan ang makadayaw sa imo siling sang imo pagkatakus!

    WORD  FREQUENCY  Bik  Ceb  Hil  Ilo  Pam  Pag  TI  War
0    ang         19    0    1    1    0    0    0   1    0
1   ikaw          4    0    0    0    0    0    0   0    0
2    imo          6    0    0    0    0    0    0   0    0
3    kag          5    0    0    1    0    0    0   0    0
4    mga          3    1    1    1    0    0    0   1    1
5    nga         16    0    1    1    1    0    0   0    1
6     sa         26    1    1    1    0    0    0   1    1
7   sang          8    0    0    1    0    0    0   0    0
8  Total         87    2    4    6    1    0    0   3    3

In [8]:
#BBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBB
#BBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBB

In [9]:
#B. POS TAGGING:  In the sentences, underline and label the tag.

# 1. The grand jury commented on a number of other topics.
# 2. There are 30 students there.
# 3. Preliminary findings were reported in today’s New England Journal of Medicine.
# 4. I have a friend living in Dasmarinas?
# 5. Can you list the nonstop afternoon flights?

#POS FREQUENCY: Calculate the number of tag frequency.

#creating word tokens of sentences
sentence_1 = 'The grand jury commented on a number of other topics.'
sent_1_token = nltk.sent_tokenize(sentence_1)
words_1_token = nltk.word_tokenize(sentence_1)

sentence_2 = 'There are 30 students there.'
sent_2_token = nltk.sent_tokenize(sentence_2)
words_2_token = nltk.word_tokenize(sentence_2)

sentence_3 = 'Preliminary findings were reported in today’s New England Journal of Medicine.'
sent_3_token = nltk.sent_tokenize(sentence_3)
words_3_token = nltk.word_tokenize(sentence_3)

sentence_4 = 'I have a friend living in Dasmarinas?'
sent_4_token = nltk.sent_tokenize(sentence_4)
words_4_token = nltk.word_tokenize(sentence_4)

sentence_5 = 'Can you list the nonstop afternoon flights?'
sent_5_token = nltk.sent_tokenize(sentence_5)
words_5_token = nltk.word_tokenize(sentence_5)

In [41]:
# defining dataframe main primary columns
DfColumn1 = 'TAG'

# Functions
###################################################################################################################

# function to create dataframe from word tokens 
def create_df(word_token):
    
    df = DataFrame(word_token, columns = [DfColumn1]) 
    df = df.append({DfColumn1:'Total'},ignore_index = True)
    return df
###################################################################################################################

# function to add columns from .csv dictionary column list
def add_columns(Tokenized_df,Dict_columnlist):
    
    for col_count in (Dict_columnlist):
        Tokenized_df[col_count] = 0
    return Tokenized_df
###################################################################################################################

# function for dataframe population by comparing availablity of word token in dictionary
def df_populate(dataframe,taglist,wordtoken):
    
    # defining primary column for loop
    dfmain_col  = DfColumn1
    
    # loop for selecting active row to populate
    for cell in range(len(dataframe[dfmain_col])):  
    
        # loop for selecting column to populate
        for col in (taglist):   
        
            # loop for current row and corresponding column population
            for active_cell in range(len(taglist)): 
            
                # comparison statements for word and dictionary column contents
                if dataframe[dfmain_col][cell] == taglist[active_cell]:
                    dataframe[wordtoken[active_cell]][cell]        = 1                  
                else:
                    pass
    return dataframe   
###################################################################################################################

# function for culculation of frequency occurance - "#1"
def frequency_Totals(dataframe,wordtoken):
    
    #defining primary column for loop
    dfmain_col  = dataframe.columns[0]
    
    #total rows in dataframe
    Total_dfrows = len(dataframe[dfmain_col])

    #subtract 1 to account for the 0 index
    Total_dfrows -= 1

    # Loop to select column to be totaled and record total
    for count in (wordtoken):  
        dataframe[count][Total_dfrows] = np.sum(dataframe[count])
    return dataframe
###################################################################################################################

In [42]:
sw = nltk.corpus.stopwords.words('english')
sent_tags = []
sent_tags.append('tags') 

#
for counter in range(1,6):
    sent_token = 'sent_' + str(counter) + '_token'
    
    #
    for wrd in globals()[sent_token]:
        word_list = nltk.word_tokenize(wrd)
        word_list = [w for w in word_list]
        tagged_list = nltk.pos_tag(word_list)
        tags =  [ e[1] for e in tagged_list]
        sent_tags.append(tags)

In [43]:
My_PTags = ['CC', 'CD', 'DT', 'IN', 'JT', 'MD', 'NN', 'NNS', 'PRD', 'RB', 'POS', 'VB', 'VBD', 'EX', 'PUNCT']

In [44]:
#loop for creating dataframe, adding columns, populating columns and culculating total pos_tag frequency.
for counter in range(1,6):
    words_token = 'words_' + str(counter) + '_token'
    sent_df = 'sent_' + str(counter) + '_df'
    
    #using the globals fuction to convert string to readable variable names to create,populate and total dataframe
    globals()[sent_df] = create_df(My_PTags)
    globals()[sent_df] = add_columns(globals()[sent_df], globals()[words_token])
    globals()[sent_df] = df_populate(globals()[sent_df], sent_tags[counter], globals()[words_token])
    globals()[sent_df] = frequency_Totals(globals()[sent_df], globals()[words_token])

<ipython-input-41-9750de3948ba>:40: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataframe[wordtoken[active_cell]][cell]        = 1
<ipython-input-41-9750de3948ba>:60: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataframe[count][Total_dfrows] = np.sum(dataframe[count])

In [45]:
sent_1_df

      TAG  The  grand  jury  commented  on  a  number  of  other  topics  .
0      CC    0      0     0          0   0  0       0   0      0       0  0
1      CD    0      0     0          0   0  0       0   0      0       0  0
2      DT    1      0     0          0   0  1       0   0      0       0  0
3      IN    0      0     0          0   1  0       0   1      0       0  0
4      JT    0      0     0          0   0  0       0   0      0       0  0
5      MD    0      0     0          0   0  0       0   0      0       0  0
6      NN    0      0     1          0   0  0       1   0      0       0  0
7     NNS    0      0     0          0   0  0       0   0      0       1  0
8     PRD    0      0     0          0   0  0       0   0      0       0  0
9      RB    0      0     0          0   0  0       0   0      0       0  0
10    POS    0      0     0          0   0  0       0   0      0       0  0
11     VB    0      0     0          0   0  0       0   0      0       0  0
12    VBD    0      0     0          1   0  0       0   0      0       0  0
13     EX    0      0     0          0   0  0       0   0      0       0  0
14  PUNCT    0      0     0          0   0  0       0   0      0       0  0
15  Total    1      0     1          1   1  1       1   1      0       1  0

In [15]:
sent_2_df

      TAG  There  are  30  students  there  .
0      CC      0    0   0         0      0  0
1      CD      0    0   1         0      0  0
2      DT      0    0   0         0      0  0
3      IN      0    0   0         0      0  0
4      JT      0    0   0         0      0  0
5      MD      0    0   0         0      0  0
6      NN      0    0   0         0      0  0
7     NNS      0    0   0         1      0  0
8     PRD      0    0   0         0      0  0
9      RB      0    0   0         0      1  0
10    POS      0    0   0         0      0  0
11     VB      0    0   0         0      0  0
12    VBD      0    0   0         0      0  0
13     EX      1    0   0         0      0  0
14  PUNCT      0    0   0         0      0  0
15  Total      1    0   1         1      1  0

In [16]:
sent_3_df

,TAG,Preliminary,findings,were,reported,in,today,’,s,New,England,Journal,of,Medicine,.
0,CC,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,CD,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,DT,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,IN,0,0,0,0,1,0,0,0,0,0,0,1,0,0
4,JT,0,0,0,0,0,0,0,0,0,0,0,0,0,0
5,MD,0,0,0,0,0,0,0,0,0,0,0,0,0,0
6,NN,0,0,0,0,0,1,0,0,0,0,0,0,0,0
7,NNS,0,1,0,0,0,0,0,0,0,0,0,0,0,0
8,PRD,0,0,0,0,0,0,0,0,0,0,0,0,0,0
9,RB,0,0,0,0,0,0,0,0,0,0,0,0,0,0
10,POS,0,0,0,0,0,0,0,0,0,0,0,0,0,0
11,VB,0,0,0,0,0,0,0,0,0,0,0,0,0,0
12,VBD,0,0,1,0,0,0,0,1,0,0,0,0,0,0
13,EX,0,0,0,0,0,0,0,0,0,0,0,0,0,0
14,PUNCT,0,0,0,0,0,0,0,0,0,0,0,0,0,0
15,Total,0,1,1,0,1,1,0,1,0,0,0,1,0,0

In [17]:
sent_4_df

      TAG  I  have  a  friend  living  in  Dasmarinas  ?
0      CC  0     0  0       0       0   0           0  0
1      CD  0     0  0       0       0   0           0  0
2      DT  0     0  1       0       0   0           0  0
3      IN  0     0  0       0       0   1           0  0
4      JT  0     0  0       0       0   0           0  0
5      MD  0     0  0       0       0   0           0  0
6      NN  0     0  0       1       1   0           0  0
7     NNS  0     0  0       0       0   0           0  0
8     PRD  0     0  0       0       0   0           0  0
9      RB  0     0  0       0       0   0           0  0
10    POS  0     0  0       0       0   0           0  0
11     VB  0     0  0       0       0   0           0  0
12    VBD  0     0  0       0       0   0           0  0
13     EX  0     0  0       0       0   0           0  0
14  PUNCT  0     0  0       0       0   0           0  0
15  Total  0     0  1       1       1   1           0  0

In [18]:
sent_5_df

      TAG  Can  you  list  the  nonstop  afternoon  flights  ?
0      CC    0    0     0    0        0          0        0  0
1      CD    0    0     0    0        0          0        0  0
2      DT    0    0     0    1        0          0        0  0
3      IN    0    0     0    0        0          0        0  0
4      JT    0    0     0    0        0          0        0  0
5      MD    1    0     0    0        0          0        0  0
6      NN    0    0     0    0        0          1        0  0
7     NNS    0    0     0    0        0          0        1  0
8     PRD    0    0     0    0        0          0        0  0
9      RB    0    0     0    0        0          0        0  0
10    POS    0    0     0    0        0          0        0  0
11     VB    0    0     1    0        0          0        0  0
12    VBD    0    0     0    0        0          0        0  0
13     EX    0    0     0    0        0          0        0  0
14  PUNCT    0    0     0    0        0          0        0  0
15  Total    1    0     1    1        0          1        1  0

In [19]:
#CCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCC
#CCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCC

In [20]:
#C. Using the array data below, answer the following question and write your solution in a Jupyter notebook.

My_Exam = np.array([[80, 85, 90], [75.5, 86.2, 90.75]])

In [21]:
# 1. Give the command to get the array's shape?
My_Exam.shape

(2, 3)

In [22]:
# 2. What command should I use to determine the data type of this array?
My_Exam.dtype

dtype('float64')

In [23]:
# 3. Make a matrix of one(1) with the size of 5 by 5 grid.
Matrix = np.ones((5,5))
Matrix

array([[1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.]])

In [33]:
Array_exam = np.arange(0,10)
Array_exam

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [34]:
# 4. All values 0 t0 6 should be equal to 50
Array_exam50 = np.arange(0,10)

for add1 in range (0,7):
    Array_exam50[add1] = 50
Array_exam50

array([50, 50, 50, 50, 50, 50, 50,  7,  8,  9])

In [36]:
# 5. All the elements in the array should be equal to 95
Array_exam95 = np.arange(0,10)

for add2 in range (len(Array_exam95)):
    Array_exam95[add2] = 95
Array_exam95

array([95, 95, 95, 95, 95, 95, 95, 95, 95, 95])

In [37]:
# 6. Calculate the square root of each value in the arrays.
Squared_Array_exam = np.sqrt(Array_exam)
Squared_Array_exam

array([0.        , 1.        , 1.41421356, 1.73205081, 2.        ,
       2.23606798, 2.44948974, 2.64575131, 2.82842712, 3.        ])

In [38]:
#Assume the statistical process is as follows:

Arr_exam = np.array([[1,2,3],[4,5,6],[7,8,9]])
Arr_exam

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [39]:
# 7. What is the value of Arr_exam.sum()
Arr_exam.sum()

45

In [30]:
# 8. What is the value of Arr_exam.mean()
Arr_exam.mean()

5.0

In [31]:
# 9. What is the value of Arr_exam.std()
Arr_exam.std()

2.581988897471611

In [32]:
#10. What is the value of Arr_exam.var()
Arr_exam.var()

6.666666666666667